{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./components",
        "pages": "./pages",
        "style": "./style",
        "static": "./static",
        "store": "./redux/store",
        "reducers": "./redux/reducers",
        "actions": "./redux/actions"
      }
    }],
    "transform-object-rest-spread"
  ]
}