{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./components",
        "pages": "./pages",
        "style": "./style",
        "static": "./static"
      }
    }],
    "transform-object-rest-spread"
  ]
}