{
  "plugins": [
    "prettier",
    "react"
  ],
  "env": { "es6": true },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-var": "error"
  }
}